p {
    margin-bottom: 0;
}
.card {
    margin-top: 50px;
    margin-bottom: 50px;
}

.cardImage {
    width: 100%;
    height: 200px;
    display: inline-block;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    object-fit: cover;
}

.locationcontainer {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.cardfooter {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 20px;
}

.ratings {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    margin-top: 8px;
}